.idea
SLIDE-x-CORE/src/slide-x-automation.py
SLIDE-x-AGGR/KERNEL_DECIMAL
SLIDE-x-AGGR/KERNEL_INT
SLIDE-x-AGGR/POLYBENCH_DECIMAL
SLIDE-x-AGGR/POLYBENCH_INT
SLIDE-x-AGGR/RECIPE_DECIMAL
SLIDE-x-AGGR/RECIPE_INT

